@font-face {
  font-family: "04b03";
  src: url(/fonts/04b03.ttf);
}

@font-face {
  font-family: "minecraftia";
  src: url(/fonts/Minecraftia-Regular.ttf);
}

:root {
  font-family: "minecraftia", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "minecraftia", sans-serif;
}
