@font-face {
  font-family: "04b03";
  src: url(/fonts/04b03.ttf);
}

@font-face {
  font-family: "minecraftia";
  src: url(/fonts/Minecraftia-Regular.ttf);
}

@font-face {
  font-family: "digivolve";
  font-style: normal;
  src: url(/fonts/pixel_digivolve/Pixel_Digivolve.otf);
}

@font-face {
  font-family: "digivolve";
  font-style: italic;
  src: url(/fonts/pixel_digivolve/Pixel_Digivolve_Italic.otf);
}

@font-face {
  font-family: "NeoDunggeunmoPro";
  src: url(/fonts/NeoDunggeunmoPro-Regular.woff2);
}

:root {
  font-family: "minecraftia", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "minecraftia", sans-serif;
}

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
